/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets
 *= require tracks
 *= require_self
*/

/* Big image in main center part of home page - shareable properties */
img.main {
	
	 
}

/* Big image in main center part of home page - on left side */
img.msg_left {
	float: left;
    vertical-align: middle;
}

/* Big image in main center part of home page - on right side */
img.msg_right {
    float: right;
    vertical-align: middle;
}

/************************
 * Overwritten standard classes 
 ************************/

/* One message box with header, image and text content */ 
#display_box {  
  float: right; 
  width: 850px;
  
}

/* One message box content (yellow part) */
div.message {
	overflow: auto;
	padding: 10px;
}

/* Expand border separator size */
div.message td:last-child {
    margin-left: 20px;
}

/* remove white border around form in left box */
#context_new_container form {
	border: none;
}
